<!doctype html>
<html lang="en">

  <head>
    <title>TIUday's system</title>
    <link rel="icon" type="image/x-icon" href="/img/img.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
      shrink-to-fit=no">

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
      rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>

    <div class="d-md-flex align-items-stretch">
      <nav id="sidebar">
        <form method="POST" name="text-query-submit" action="#"
          class="subscribe-form p-4">
          <div class="form-group d-flex" data-validate="Text description is
            required">
            <textarea class="icon form-control" name="Vietnamese"
              placeholder="Vietnamese desciption"></textarea>
            <span class="icon-paper-plane"></span>
          </div>
          <div class="form-group d-flex" data-validate="Text description is
            required">
            <textarea class="icon form-control" name="English"
              placeholder="English desciption"></textarea>
            <span class="icon-paper-plane"></span>
          </div>
          {{!-- <div class="form-group d-flex" data-validate="OCR is
            required">
            <textarea class="icon form-control" name="OCR"
              placeholder="OCR"></textarea>
            <span class="icon-paper-plane"></span>
          </div> --}}
          <div class="container-contact1-form-btn">
            <button class="contact1-form-btn">
              <span>
                Search
              </span>
            </button>
          </div>
        </form>
        <div class="border-top p"></div>

        <div class="container-contact1-form-btn p-4">
          <form name="submit" action="https://eventretrieval.one/api/v1/submit"
            method="GET">
            <button class="contact1-form-btn" id="btn-submit">
              <span>
                Submit latest stack element
                <span>
                </button>
                <input type="hidden" id="item" name="item"/>
                <input type="hidden" id="frame" name="frame"/>
              </form>

            </div>
            <p id="result" class="passage"></p>

          </nav>


          {{!-- Page Content --}}
          <div id="content" class="content-custom">
            {{{body}}}
          </div>
        </div>


        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>


        <script>
    var result = document.getElementById('result');
    var btnSubmit = document.getElementById('btn-submit');
    var submitForm = document.forms['submit'];
    var videos = [];
    var frames = [];

    [].forEach.call(document.querySelectorAll('input[type="checkbox"]'), function (checkbox) {
      'use strict';
      checkbox.addEventListener('change', function () {
        var number = $('input[type=checkbox]:checked').length;
        //console.log($('input[type=checkbox]:checked'));
        /*var previousLi = checkbox.parentNode.parentNode.previousElementSibling;
        var index = 0;
        while (previousLi != null) {
          previousLi = previousLi.previousElementSibling;
          index += 1;
        }*/

        var video = checkbox.getAttribute('video');
        var frame = checkbox.getAttribute('frame');
        var ans_video;
        var ans_frame; 

        if (checkbox.checked) {
          videos.push(video);
          frames.push(frame);
          ans_video = video;
          ans_frame = frame;
        } else {
          videos.splice(videos.indexOf(video), 1);
          frames.splice(frames.indexOf(frame), 1);
        }
        var text = ""
        for (let i = 0; i < videos.length; i++){
          text += videos[i] + "/"+frames[i]+ "<br>"
        }
        result.innerHTML = text

      
        btnSubmit.onclick = function () {
          document.querySelector("#item").value = ans_video;
          document.querySelector("#frame").value = ans_frame;
          //submitForm.action = 'https://eventretrieval.one/api/v1/submit
          //submitForm.submit();
        }
      });
    });
    </script>
      </body>

    </html>
